/build/
dist/
/.gradle/
/out/
/classses/*
classes/*
**/generated/**
*.zip
*.pid
*.class
*.py[cod]
*.log
*.zip
target/
dist/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
